.block {
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  span {
    font-size: 20px;
  }

  &-desktop {
    background-color: blueviolet;
    color: white;
  }
  &-tablet {
    background-color: aquamarine;
    color: black;
  }
  &-mobile {
    background-color: brown;
    color: white;
  }
}
